<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>INKFLOW_SIGN_IDENTITY</key><string>REPLACE_WITH_VERIFIED_CERTIFICATE_SHA1</string>
  <key>INKFLOW_NOTARY_AUTH</key><string>api-key</string>
  <key>INKFLOW_NOTARY_KEY_FILE</key><string>REPLACE_WITH_EXISTING_P8_PATH</string>
  <key>INKFLOW_NOTARY_KEY_ID</key><string>REPLACE_WITH_KEY_ID</string>
  <key>INKFLOW_NOTARY_KEY_TYPE</key><string>team</string>
  <key>INKFLOW_NOTARY_ISSUER</key><string>REPLACE_WITH_ISSUER_ID</string>
</dict></plist>
