<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>INKFLOW_SIGN_IDENTITY</key><string>REPLACE_WITH_VERIFIED_CERTIFICATE_SHA1</string>
  <key>INKFLOW_NOTARY_PROFILE</key><string>REPLACE_WITH_EXISTING_KEYCHAIN_PROFILE</string>
</dict></plist>
